.grid-container{
    display: grid;
    background-color: rgb(226, 226, 226);

    padding: 15px;
    border-radius: 10px;
}

.grid-cell{
    background-color: aqua;
    justify-self: center;
    align-self: center;
}